
header{
    text-align: center;
}

h2{
    text-align: center;
}

.card{
    border: 2px solid black;
    border-radius: 8px;
}

.ligne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.gauche{
    display: flex;
    align-items: center;
    gap: 10px;
}

h1 {
    margin: 0;
    text-align: center;
    flex: 1;
}


.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


.formCon {
    width: 420px;
    background: #fff;
    border-radius: 12px;
    padding: 30px 35px;
    box-shadow: 0 3px 18px rgba(0,0,0,0.15);
}

.formInc {
    width: 420px;
    background: #fff;
    border-radius: 12px;
    padding: 30px 35px;
    box-shadow: 0 3px 18px rgba(0,0,0,0.15);
}



/* --- Label --- */
.formCon .form-label {
    font-weight: 600;
    color: #444;
    margin-bottom: 6px;
    display: block;
}

.formInc .form-label {
    font-weight: 600;
    color: #444;
    margin-bottom: 6px;
    display: block;
}


.formCon .form-control {
    width: 100%;
    padding: 11px 12px;
    border-radius: 8px;
    border: 1px solid #d2d2d2;
    font-size: 15px;
    transition: 0.2s;
}
.formInc .form-control {
    width: 100%;
    padding: 11px 12px;
    border-radius: 8px;
    border: 1px solid #d2d2d2;
    font-size: 15px;
    transition: 0.2s;
}

.formCon .form-control:focus {
    border-color: #4a8bff;
    box-shadow: 0 0 0 2px rgba(74,139,255,0.3);
    outline: none;
}
.formInc .form-control:focus {
    border-color: #4a8bff;
    box-shadow: 0 0 0 2px rgba(74,139,255,0.3);
    outline: none;
}


/* --- Bouton --- */
.formCon .btn-primary {
    width: 100%;
    padding: 13px;
    font-size: 16px;
    border-radius: 8px;
    background: #212121;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.formInc .btn-primary {
    width: 100%;
    padding: 13px;
    font-size: 16px;
    border-radius: 8px;
    background: #212121;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.formCon .btn-primary:hover {
    background: #000;
}
.formInc .btn-primary:hover {
    background: #000;
}

/* --- Espacement entre les champs --- */
.mb-3 {
    margin-bottom: 16px;
}