header{
    text-align: center;
}

h2{
    text-align: center;
}

.card{
    border: 2px solid black;
    border-radius: 8px;
}

.ligne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.gauche{
    display: flex;
    align-items: center;
    gap: 10px;
}

h1 {
    margin: 0; /* évite les décalages */
    text-align: center;
    flex: 1;
}
